.stakeholderCard{
	width: 22.5%;
	min-height: 700px;
	height: auto;

	box-sizing: border-box;

	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	padding: 1% 1%;

	border: 2px solid black;
	border-radius: 12px;

	background-color: #fafafa;
}

.fotoContainer{
	width: 90%;
	height: 25%;
	padding: 1%;
	padding: 1.5%;

	box-sizing: border-box;
}

.fotoContainer img{
	max-width: 100%;
	height: auto;

	border-radius: 50%;
}

.textoContainer h4{
	font-weight: bold;

	font-size: 23px;

	margin: 0px;
}

.textoContainer p{
	font-size: 19px;
}